/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
 
body {
    margin: 0;
    text-align: center;
    width: 710px;
    display: flex;
    align-items: center;
}

img {
    width: 100px;
}

#hero {
    background: url(./images/rfdDowntown.jpg);
    background-size: cover;
    padding: 10px 0 40px 0;
}

.header{
    color: #251F47;
    text-shadow: 0 0 4px black;
}

.activities {

}

.guide {
    border: 5px dotted navy;
    display: inline-block;
}