/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
 
body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 50px;
}

#hero {
    background: url(./images/rfdDowntown.jpg);
    background-size: cover;
    padding: 10px 0 40px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-shadow: 0 0 4px black;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px 15px;
}

h1 {
    background: #71B48D;
}

#hero-p {
    background: #404E7C;
}

.activities {
    border-radius: 0 25px 0 25px;
    color: #251F47;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#activities-header {
    margin: 10px auto;
}

.activity-sec {
    margin: 10px auto;
    display: inline;
}

/* #touch-grass {
    display: inline-block;
}

#bar {
    display: inline-block;
}

#restaurant-brewery {
    display: inline-block;
} */

.guide {
    border: 5px dotted navy;
    display: inline-block;
}