/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
 
body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}

#hero {
    background: url(./images/rfdDowntown.jpg);
    background-size: cover;
    padding: 10px 0 40px 0;
    width: 400px;
}

.activities {
    display: flex;
    align-items: center;
}